<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777912704079-8cuh0kr69ops28s77l0e9ndvajr4h6rd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777912704079-8cuh0kr69ops28s77l0e9ndvajr4h6rd</string>
	<key>API_KEY</key>
	<string>AIzaSyAtJS_O34gg6KaBqQWWLXrHMMseEbA-gAA</string>
	<key>GCM_SENDER_ID</key>
	<string>777912704079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.pursuit.pinpoint.app</string>
	<key>PROJECT_ID</key>
	<string>pinpointevents-1c70e</string>
	<key>STORAGE_BUCKET</key>
	<string>pinpointevents-1c70e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777912704079:ios:c6e7e988bd6ae511</string>
	<key>DATABASE_URL</key>
	<string>https://pinpointevents-1c70e.firebaseio.com</string>
</dict>
</plist>